/* common setting */
/* font size: 28, 24, 18, 16, 14, 12 px*/
/* colors */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', Helvetica, sans-serif;
  background-color: #fff;
  background-size: 142px 142px;
  height: 100%;
}
/* general */
.link {
  cursor: pointer;
}
.bold {
  font-weight: 700;
}
/* elements */
.container {
  width: 100% !important;
}
.loading {
  background: #fff url('../images/bg-pattern-sm.png');
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
}
.loading .text {
  display: table-cell;
  vertical-align: middle;
  font-size: 2em;
  color: #c31152;
}
/* left */
.navigator {
  background-color: #fafafa;
  padding: 20px 15px !important;
  margin-left: -15px;
  margin-right: -15px;
  border-bottom: 1px solid #e5e5e5;
}
.navigator .title {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.navigator .title .logo {
  vertical-align: top;
  margin-right: 10px;
}
.navigator .title h1 {
  font-weight: 700;
  display: inline;
}
.info {
  /* routes table */
  /* no routes text */
  /* select menu */
}
.info .upto {
  color: #999999;
  size: 0.875em;
  padding-top: 20px;
  padding-bottom: 10px;
}
.info .route-heading {
  padding-left: 0;
}
.info .route-row {
  background-color: #fff;
  border-width: 1px;
}
.info .route {
  padding-left: 10px;
}
.info .route-tag {
  font-weight: 700;
}
.info .refreshed {
  margin-left: 8px;
  font-size: 0.875em;
  color: #999999;
  font-weight: 700;
}
.info .refreshed-icon {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid #c31152;
}
.info .refreshed-updated {
  color: #c31152;
}
.info .route-title {
  font-size: 0.875em;
  color: #999999;
}
.info .off {
  text-decoration: line-through;
}
.info .toggle {
  padding-left: 6px;
  cursor: pointer;
  color: #e5e5e5;
}
.info .toggle:hover {
  color: #000;
}
.info .route-na {
  vertical-align: middle;
}
.info .route-more {
  vertical-align: middle;
  text-align: right;
  padding-left: 0;
  padding-right: 8px;
  cursor: pointer;
}
.info .route-more a {
  color: #999999;
}
.info .route-more a:hover {
  color: #000;
}
.info .more-info {
  color: #666666;
  font-size: 0.875em;
  padding: 10px 15px;
  border-bottom: 1px solid #e5e5e5;
}
.info .more-info-title {
  font-weight: 700;
  color: #000;
}
.info .more-info-dir {
  margin-bottom: 10px;
}
.info .more-info-updated {
  font-weight: 700;
  color: #c31152;
}
.info .no-routes {
  font-size: 1.128em;
  color: #c31152;
  margin-bottom: 20px;
}
.info .btn {
  border-radius: 10px;
  background-color: #fff;
  border-width: 2px;
  color: #c31152;
  border-color: #c31152;
  font-weight: 700;
}
.info .btn .menu-title {
  padding-left: 6px;
  padding-right: 6px;
}
.info .btn-primary:hover,
.info .btn-primary:focus,
.info .btn-primary:active,
.info .btn-primary.active,
.info .open > .dropdown-toggle.btn-primary {
  background-color: #fff;
  color: #666666;
  border-color: #c31152;
}
.info .btn-primary:active,
.info .btn-primary.active {
  background-color: #fff;
  color: #666666;
  border-color: #c31152;
  box-shadow: none;
}
.info .open.dropdown-toggle {
  box-shadow: rgba(0, 0, 0, 0) !important;
}
.info .btn-group a {
  cursor: pointer;
}
.info .dropdown-menu {
  border-radius: 10px;
}
.info .v-line {
  color: #e5e5e5;
  margin-left: 6px;
  margin-right: 6px;
}
.info .selected {
  cursor: default !important;
  font-style: italic;
  color: #999999;
}
.info .selected:hover,
.info .selected:active {
  background-color: #fff !important;
  color: #999999;
}
.copyright {
  margin-top: 40px;
  color: #999999;
  font-size: 0.875em;
}
.copyright a {
  cursor: pointer;
  color: #666666;
}
.copyright a:hover {
  color: #000;
}
/* map */
.map {
  padding-left: 0 !important;
  background: #fff url('../images/bg-pattern-sm.png');
  border-left: 1px solid #e5e5e5;
}
.map svg {
  /*background-color: @white;*/
}
/* basic d3 style setup */
/* lables or text */
.pos-start {
  text-anchor: start;
}
.pos-middle {
  text-anchor: middle;
}
.pos-end {
  text-anchor: end;
}
.v-middle {
  alignment-baseline: middle;
}
.v-central {
  alignment-baseline: central;
}
.v-top {
  alignment-baseline: hanging;
}
.size-tiny {
  font-size: 0.75em;
}
.size-small {
  font-size: 0.875em;
}
.size-normal {
  font-size: 1em;
}
.size-large {
  font-size: 1.128em;
}
.size-huge {
  font-size: 1.5em;
}
.weight-bold {
  font-weight: bold;
}
/* line */
.stroke-black {
  stroke: #000;
}
.stroke-darkGrey {
  stroke: #666666;
}
.stroke-grey {
  stroke: #999999;
}
.stroke-lightGrey {
  stroke: #e5e5e5;
}
.stroke-lightestGrey {
  stroke: #fafafa;
}
.stroke-none {
  stroke: none;
}
.stroke-1 {
  stroke-width: 1;
}
.stroke-2 {
  stroke-width: 2;
}
.stroke-dashed {
  stroke-dasharray: 4, 2;
}
/* fill */
.fill-black {
  fill: #000;
}
.fill-darkGrey {
  fill: #666666;
}
.fill-grey {
  fill: #999999;
}
.fill-lightGrey {
  fill: #e5e5e5;
}
.fill-lightestGrey {
  fill: #fafafa;
}
.fill-white {
  fill: #fff;
}
.fill-none {
  fill: none;
}
