/* basic d3 style setup */

/* lables or text */
.pos-start {
    text-anchor: start;
}
.pos-middle {
    text-anchor: middle;
}
.pos-end {
    text-anchor: end;
}
.v-middle {
    alignment-baseline: middle;
}
.v-central {
    alignment-baseline: central;
}
.v-top {
    alignment-baseline: hanging;
}
.size-tiny {
    font-size: @tiny;
}
.size-small {
    font-size: @small;
}
.size-normal {
    font-size: @normal;
}
.size-large {
    font-size: @large;
}
.size-huge {
    font-size: @huge;
}
.weight-bold {
    font-weight: bold;
}

/* line */
.stroke-black {
    stroke: #000;
}
.stroke-darkGrey {
    stroke: @darkGrey;
}
.stroke-grey {
    stroke: @grey;
}
.stroke-lightGrey {
    stroke: @lightGrey;
}
.stroke-lightestGrey {
    stroke: @lightestGrey;
}
.stroke-none {
    stroke: none;
}
.stroke-1 {
    stroke-width: 1;
}
.stroke-2 {
    stroke-width: 2;
}
.stroke-dashed{
    stroke-dasharray: 4, 2;
}

/* fill */
.fill-black {
    fill: @black;
}
.fill-darkGrey {
    fill: @darkGrey;
}
.fill-grey {
    fill: @grey;
}
.fill-lightGrey {
    fill: @lightGrey;
}
.fill-lightestGrey {
    fill: @lightestGrey;
}
.fill-white {
    fill: #fff;
}
.fill-none {
    fill: none;
}